/* add your CSS here */
.interesting_fact {
	font-style: italic;
}

span {
	font-weight: bold;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 9;
}

.animal_item {
	border: 2px solid #E6E6E6;
	padding: 10px;
	width: 300px;
	box-shadow: 6px 6px 2px #E6E6E6;


}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.introduction {
	border: 1px solid #E6E6E6;
}